<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>


    <rewrite>
      <rules>
        <!--<rule name="SimpleMVCRewrite" enabled="true">
          <match url="(./)" ignoreCase="false" />
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>-->

        <!--<rule name="rewrite film" enabled="true">
          <match url="(./film/*)" ignoreCase="false" />
          <action type="Rewrite" url="./index.php" appendQueryString="true" />
        </rule>-->
        <!--<rule name="Rewrite to autocpmplete">
          -->
        <!--<match url="^film/([0-9]+)" />-->
        <!--
          <match url="/autocomplete" />
          <action type="Rewrite" url="http://www.optimic.net/PHP/filmotheque/autocomplete" />
        </rule>-->
        <rule name="Rewrite to base">
          <!--<match url="^film/([0-9]+)" />-->
          <match url="^([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="index.php?query={R:1}/{R:2}" />
        </rule>
        <!--<rule name="Rewrite to routefilm IE">
          <match url="^film/film/([0-9]+)" />
          --><!--<match url="./film/film/([0-9]+)" />--><!--

          <action type="Rewrite" url="./film/22" />
        </rule>-->

      </rules>
      <outboundRules>
        <!--<rule name="autocpmlete" stopProcessing="false">
          <match filterByTags="Base" pattern="(./autocomplete/)" />
          --><!--<match filterByTags="Base" pattern="(./*)" />--><!--
          <action type="Rewrite" value="http://www.optimic.net/PHP/filmotheque/autocomplete" />
        </rule>-->
        <!--<rule name="outbound" stopProcessing="true">
         <match filterByTags="Base" pattern="(.*)" />
          --><!--<match filterByTags="Base" pattern="(./)" />--><!--
          <action type="Rewrite" value="http://www.optimic.net/PHP/filmotheque/" />
        </rule>-->
          <!--<rule name="outboundfilmotheque" stopProcessing="true">
         <match filterByTags="Base" pattern="(.*)" />--><!--
          <match filterByTags="Base" pattern="(./filmotheque/)" />
          <action type="Rewrite" value="http://www.optimic.net/PHP/filmotheque/" />
        </rule>-->
                <!--<rule name="outboundfilmotheque" stopProcessing="true">
         <match filterByTags="Base" pattern="(./filmotheque/film/*)" />
          <match filterByTags="Base" pattern="(./)" />
          <action type="Rewrite" value="http://www.optimic.net/PHP/filmotheque/" />
        </rule>-->
        
        <!--<rule name="outboundfinfilm" stopProcessing="true">
          <match filterByTags="Base" pattern="(./film/)" />
          --><!--<match filterByTags="Base" pattern="(./*)" />--><!--
          <action type="Rewrite" value="http://www.optimic.net/PHP/filmotheque/film/" />
        </rule>-->
                <!--<rule name="outboundfinfilm2" stopProcessing="true">
          <match filterByTags="Base" pattern="(./film/film/*)" />
          --><!--<match filterByTags="Base" pattern="(./*)" />--><!--
          <action type="Rewrite" value="http://www.optimic.net/PHP/filmotheque/" />
        </rule>-->
        <!--<rule name="outbound" stopProcessing="false" >
        -->
        <!--<match filterByTags="Base" pattern="(.*)" />-->
        <!--  
         <match filterByTags="Base" pattern="(.*)" />
        <action type="Rewrite" value=".*" />
      </rule>-->

        <!--<rule name="outbound" stopProcessing="true">
          <match filterByTags="Base" pattern="(./autocomplete)" />
          <action type="Rewrite" value="http://www.optimic.net/PHP/filmotheque/autocomplete" />
        </rule>-->
      </outboundRules>

    </rewrite>
  </system.webServer>
</configuration>




<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <rewrite>  <rewriteMaps>
    <rewriteMap name="StaticRewrites" defaultValue="">
      <add key="/film" value="/PHP/filmottheque/index.php" />
      -->
<!--<add key="/some-title" value="/article.aspx?id=1&amp;title=some-title" />
      <add key="/post/some-title.html" value="/article.aspx?id=1&amp;title=some-title" />-->
<!--
    </rewriteMap>
  </rewriteMaps>
      -->
<!--<rules>
        <rule name="wordpress" patternSyntax="Wildcard">
          <match url="*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>-->
<!--
    </rewrite>
  </system.webServer>
</configuration>

-->
<!--<rewrite>

</rewrite>-->